<h2>Ask the Underflow community...</h2>

  <form id="new-question-form" action="/questions" method="POST">
    <label for="question-title">Title:</label>
    <input type="text" id="new-question-title" name="question[title]"></input><br>
    <label for="question-body">Description:</label><br>
    <textarea id="new-question-area" name="question[body]" placeholder="Please describe your question in detail..." rows="12" cols=90></textarea>
    <input type="submit" class="new-question-button" value="Ask Question"></input>
</form>