body {
  font-family: 'Merriweather';
  background-color: #f6f6f6;
  max-width: 960px;
  margin: 0 auto;
}

title {
  
}
.main_container {
  padding:20px;
  margin-top:30px;
  /*background-color:#ede4ce;*/
  height:auto;
}

.show_main_container {
  padding:20px;
  margin-top:30px;
  background-color:#ede4ce;
  height:1500px;
}

.questions_container {
  border-top: 1px solid black;
}

.question_all {
  margin: 0 100px;
}

.question_votes_answers {
  float: left;
  width: 50px;
  text-decoration: none;
}

.question_author {
  float: right;
  width: 50px;
  margin-right: 100px;
  text-align: right;
  text-decoration: none;
}
a {
  text-decoration: none;
  /*color:white;*/
}

/*Navbar*/

ul {
  position: static;
  top: 0;
  max-width: 960px;
  list-style-type: none;
  margin: 20;
  margin-top: auto;
  padding: ;
  overflow: hidden;
  /*color: black;*/
  background-color: #ede4ce;
  text-decoration: none;
}

li {
  color:black;
  float: left;
  text-decoration: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {

  background-color: #a8b2ed;
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

/*Front Login Page*/
.front-form {
  float: right;
}

.frontpage-login-form {
  max-width: 960px;
  margin-top: 200;
    background: linear-gradient(blue, light_blue);
}

.register_bg {

  background: -webkit-linear-gradient(#00138f, #aab3f0);
  padding-bottom: 150px;
}

/*user registration form*/
.user-registration {
  color:black;

  padding-top: 48px;
    /*background: linear-gradient(blue, red);*/
}

.slogan {
  color:white;
  background-color: #126CFA;
  padding: 10px;
}

/*@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}*/