<h2 class="user-registration">Please register below and to check out the underflow...</h2>

<form action="/users" method="POST">
  <label for="username">Username:</label>
  <input id="username" name="user[username]" type="text"><br>
  <label for="user-email">Email Address:</label>
  <input id="user-email" name="user[email]" type="email"><br>
  <label for="user-password">Password:</label>
  <input id="user-password" name="user[password]" type="password"><br>
  <input type="submit" value="Create Account" class="button">
</form>
